<p>検索結果 <%=@shops.count %>件</p>

<div class="shopAllShow">
  <% @shops.each do |shop| %> 
    <div class="mainContents">
      <div class="contentsTitle">
        <h2><%= shop.name%></h2>
        <p><i class="fas fa-heart unlike-btn"></i><span class="likeCount"><%= shop.likes.count %></span></p>
      </div>
      <p><%= image_tag shop.shop_image, class: "imageSize" %></p>
      <p><%= shop.address %></p>
      <p><%= shop.product_name %></p>
      <p><%= shop.taste %></p>
      <p><%= shop.description %></p>
      <p>¥<%= shop.price %></p>
      <p><%= link_to "詳細はこちら", shop, class: "btn btn-primary custom-button" %></p>  
    </div>  
  <% end %>
</div>
