<div class="mainContents">
  <h2><%= @shop.name%></h2>
  <% if @shop.image.attached? %>
    <%= image_tag @shop.image, size: "400x300" %></p>
  <% else %>
     <%= image_tag 'default-shop.jpg', size: "400x300" %></p>
  <% end %>
  <p>住所:<%= @shop.address %></p>
  <p>商品名:<%= @shop.product_name %></p>
  <p>味の系統:<%= @shop.taste %></p>
  <p>お店の説明:<%= @shop.description %></p>
  <p>予算:¥<%= @shop.price %></p>
  <p>お店のurl:<%= @shop.shop_url %></p>
</div>
<% if user_signed_in? && @shop.user_id == current_user.id %>
    <p><%= link_to "編集",[:edit,@shop] %></p>
    <p><%= link_to "削除", @shop, method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか？" } %>
    </p>
  <% end %>
<%= link_to "口コミ", shop_reviews_path(@shop) %>
