<div class="container">
  <div class="shop-container">
    <%= render_breadcrumbs builder: ::CustomBreadcrumbsBuilder %>
    <h2>お店の詳細</h2>
    <div class="main-contents">
      <div class="shop-created-time">
        <strong>作成日:</strong><%= l @shop.created_at %>
      </div>
      <h2><%= @shop.name%></h2>
      <%= image_tag @shop.shop_image, class: "shop-image-size" %>
      <div class="shop-details">
        <p><strong>住所:</strong> <%= @shop.address %></p>
        <p><strong>オススメの商品:</strong> <%= @shop.product_name %></p>
        <p><strong>味の系統:</strong> <%= @shop.taste %></p>
        <p><strong>お店のPR:</strong> <%= @shop.description %></p>
        <p><strong>予算:</strong> <%= @shop.price %>円~</p>
        <% if @shop.shop_url.present? %>
          <p><strong>お店のURL:</strong> 
            <%= link_to @shop.shop_url, @shop.shop_url, target: "_blank", rel: "noopener noreferrer" %>
          </p>
        <% else %>
          <p><strong>お店のURL:</strong> URLは登録されていません</p>
        <% end %>
        <p><strong>平均スコア:</strong> 
          <% if @average_score.present? %>
            <span class="score-style"><%= @average_score.round(2) %></span>
          <% else %>
            <%= "まだレビューがありません" %>
          <% end %>
        </p>
      </div> 
      <div class="store-rating">
        <p><%= link_to "口コミ (#{@shop.reviews.count})件", shop_reviews_path(@shop) %></p>
        <% if @shop.liked?(current_user) %>
          <%= link_to shop_like_path(@shop.id), method: :delete, data: { turbo_method: :delete } do %>
            <i class="fas fa-heart unlike-btn"></i><span class="like-count"><%= @shop.likes_count %></span>
          <% end %>
        <% else %>
          <%= link_to shop_like_path(@shop.id), method: :post, data: { turbo_method: :post } do %>
            <i class="far fa-heart like-btn" ></i><span class="like-count"><%= @shop.likes_count %></span>
          <% end %>
        <% end %>
      </div>
      <div class="shop-edit">
        <% if user_signed_in? && @shop.user_id == current_user.id %>
          <p><%= link_to "編集",[:edit,@shop], class: "btn btn-primary custom-button" %></p>
          <p><%= link_to "削除", @shop, method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "本当に削除してよろしいですか？" }, class: "btn btn-danger custom-button" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="show-map">
      <h3>店舗の周辺地図</h3>
      <p>*存在しない住所の場合は東京駅が表示されます</p>
      <div id="map"></div>
      <script>
        function initMap(){
          const defaultPosition = { lat: 35.6804, lng: 139.7690 };

          const latitude = <%= @shop.latitude.present? ? @shop.latitude : 'null' %>;
          const longitude = <%= @shop.longitude.present? ? @shop.longitude : 'null' %>;

          const mapPosition = { lat: latitude || defaultPosition.lat, lng: longitude || defaultPosition.lng };

          const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: mapPosition,
            mapId: "DEMO_MAP_ID"
          });

          const transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          const contentString = '<%= j(@shop.address.present? ? "【住所】#{@shop.address}" : "") %>';

          const infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          const marker = new google.maps.marker.AdvancedMarkerElement({
            position: mapPosition,
            map: map,
            title: contentString
          });

          if (contentString !== '') {
            marker.addListener('click', function(){
              infowindow.open(map, marker);
            });
          }
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&loading=async&callback=initMap&v=weekly&libraries=marker"></script>
    </div>
  </div>
</div>
