<h3>プロフィール</h3>

  <div class="userEdit">
    <%= form_with model: @user do |f| %>
        <table>
            <tr>
                <th><%= f.label :image, "アイコン画像" %></th>
                <td>
                    <% if @user.image.attached? %>
                        <%= image_tag @user.image, size: "70x70" %>
                    <% else %>
                        <%= image_tag 'default-user.jpg', size: "70x70" %>
                    <% end %>
                    <%= f.file_field :image %>
                </td>
            </tr>

            <tr>
                <th><%= f.label :name, "名前" %></th>
                <td><%= f.text_field :name %></td>
            </tr>

        </table>

        <%= link_to "キャンセル", @user %>
        <%= f.submit "更新する" %>
        <% end %>
</div>
