<%= flash[:success] %>
<div class="userContainer">
  <div class="userInfomation">
    <%= image_tag @user.user_image, class: "imageSize" %>
    <h3><%= @user.name %></h3>
    <div class="userEdit">
      <% if @user == current_user %>
        <p>
          <%= link_to "プロフィール", [:edit,@user], class: "btn btn-primary d-grid gap-2" %>
        </p>
        <p>
          <%= link_to 'アカウント', edit_user_registration_path(@user), class: "btn btn-dark d-grid gap-2" %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="createdShops">
  <h3><%= @user.name %>さんが登録した店舗</h3>
  <table class="shopTable">
    <thead>
      <tr>
        <th>店舗画像</th>
        <th>店舗名</th>
        <th>住所</th>
        <th>味の系統</th>
        <th>いいね数</th>
      </tr>
    </thead>
    <tbody>
      <% if @shops.any? %>
        <% @shops.each do |shop| %>
          <tr>
            <td>
              <%= image_tag shop.shop_image, class: "shopImage" %>
            </td>
            <td><%= link_to shop.name, shop_path(shop) %></td>
            <td><%= shop.address %></td>
            <td><%= shop.taste %></td>
            <td><i class="fas fa-heart unlike-btn"></i><span class="likeCount"><%= shop.likes.count %></span></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">現在作成した店舗はありません</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="likedShops">
  <h3><%= @user.name %>さんがいいねした店舗</h3>
  <table class="shopTable">
    <thead>
      <tr>
        <th>店舗画像</th>
        <th>店舗名</th>
        <th>住所</th>
        <th>味の系統</th>
        <th>いいね数</th>
      </tr>
    </thead>
    <tbody>
      <% if @liked_shops.any? %>
        <% @liked_shops.each do |shop| %>
          <tr>
            <td>
              <%= image_tag shop.shop_image, class: "shopImage" %>
            </td>
            <td><%= link_to shop.name, shop_path(shop) %></td>
            <td><%= shop.address %></td>
            <td><%= shop.taste %></td>
            <td><i class="fas fa-heart unlike-btn" ></i><span class="likeCount"><%= shop.likes.count %></span></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">現在いいねした店舗はありません</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
