<div class="first-view-container mt-5 pt-5">
  <h1>あなたのお気に入りのからあげを探そう＆シェアしよう!!</h1>
  <div class="search-form">
    <%= render "layouts/search" %>
  </div>
</div>
<div class="container mt-4 pt-4 mb-5 pb-5">
  <div class="shop-section">
    <h3 class="shop-category">新着店舗</h3>
    <div class="shop-list">
      <% if @new_shops.any? %>
        <% @new_shops.each do |shop| %>
          <div class="shop-item">
            <div class="shop-image">
              <%= image_tag shop.shop_image %>
            </div>
            <div class="shop-details">
              <h4><%= shop.name %></h4>
              <p><strong>住所:</strong> <%= shop.address %></p>
              <p><strong>味の系統:</strong> <%= shop.taste %></p>
              <div class="like-section">
                <i class="fas fa-heart unlike-btn"></i>
                <span class="like-count"><%= shop.likes_count %></span>
              </div>
              <div class="show-shops">
                <%= link_to "詳しくはこちら", shop_path(shop), data: { turbo: false } %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="no-shops">新着店舗はまだありません</p>
      <% end %>
    </div>
    <div class="more-link">
      <%= link_to(search_shops_path(sort: "latest"), class: "btn btn-dark d-grid gap-2") do %>
        新しい店舗をもっと見る
      <% end %>
    </div>
  </div>

  <div class="shop-section popular-shops">
    <h3 class="shop-category">人気の店舗</h3>
    <div class="shop-list">
      <% if @popular_shops.any? %>
        <% @popular_shops.each do |shop| %>
          <div class="shop-item">
            <div class="shop-image">
              <%= image_tag shop.shop_image %>
            </div>
            <div class="shop-details">
              <h4 class="shop-name"><%= shop.name %></h4>
              <p class="shop-address"><strong>住所:</strong> <%= shop.address %></p>
              <p class="shop-taste"><strong>味の系統:</strong> <%= shop.taste %></p>
              <div class="like-section">
                <i class="fas fa-heart unlike-btn"></i>
                <span class="like-count"><%= shop.likes_count %></span>
              </div>
              <div class="show-shops">
                <%= link_to "詳しくはこちら", shop_path(shop), data: { turbo: false } %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="no-shops">人気の店舗はまだありません</p>
      <% end %>
    </div>
    <div class="more-link">
      <%= link_to(search_shops_path(sort: "popular"), class: "btn btn-dark d-grid gap-2") do %>
        人気の店舗をもっと見る
      <% end %>
    </div>
  </div>
</div>
