<h2>レビューを編集する</h2>


<%= form_with model: @review, url: shop_review_path(@shop, @review) do |review| %>
    <table>
      <tr>
        <th><%= review.label :score, "お店の評価" %></th>
        <td><%= review.text_field :score %></td>
      </tr>

      <tr>
        <th><%= review.label :content, "口コミ" %></th>
        <td><%= review.text_area :content %></td>
      </tr>

    </table>
    <div class="selectButton">
        <%= link_to "キャンセル", :back %>
        <%= review.submit "更新する" %>
    </div>
<% end %>
