<h2>レビューを投稿する</h2>
<div class="reviewContainer">
  <div class="reviewInfomation">
    <%= form_with model: @review, url: shop_reviews_path(@shop) do |f| %>
      <table>
        <tr>
          <th><%= f.label :score, "お店の評価" %></th>
          <td><%= f.select :score, (1..5).map { |i| [i, i] }, { prompt: '選択してください' }, { class: 'custom_Field' } %></td>
        </tr>
        <tr>
          <th><%= f.label :content, "口コミ" %></th>
          <td><%= f.text_area :content, class: "custom_Area" %></td>
        </tr>
      </table>
      <div class="selectButton">
        <%= link_to "キャンセル", @shop, class: "btn btn-secondary custom-button" %>
        <%= f.submit "保存", class: "btn btn-success custom-button" %>
      </div>
    <% end %>
  </div>
</div>
