<div class="header">
  <div class="headerContainer">
    <h1>
      <%= link_to "Myからあげ", root_path %>
    </h1>
    <nav class="header_item">
      <div class="Humberger_menu">
        <span class="Humberger_line"></span>
        <span class="Humberger_line"></span>
        <span class="Humberger_line"></span>
      </div>
      <ul class="header_list">
      <% if user_signed_in? %>
        <li class="navItem">
          <%= link_to current_user.name, user_path(current_user), class: "btn btn-primary custom-button" %>
        </li>
        <li class="navItem">
          <%= link_to "店舗登録", new_shop_path, class: "btn btn-success custom-button" %>
        </li>
        <li class="navItem">
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete },
              class: "btn btn-secondary custom-button" %>
        </li>
      <% else %>
        <li class="navItem">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary custom-button" %>
        </li>
        <li class="navItem">
          <%= link_to "新規作成", new_user_registration_path, class: "btn btn-success custom-button" %>
        </li>
      <% end %>
      </ul>
    </nav>
  </div>  
</div>
