<div class="searchForm">
  <%= form_with url: search_shops_url, local: true, method: :get do |f| %>
    <div class="formGroup">
      <%= f.text_field :address, placeholder:"エリアを入力" %>
    </div>
    <div class="formGroup">
      <%= f.text_field :word, placeholder:"キーワードを入力" %>
    </div>
    <div class="formGroup">
      <%= check_box_tag :taste, "濃い味系" %>
      <%= label_tag :taste, "濃い味系" %>
      <%= check_box_tag :taste, "あっさり系" %>
      <%= label_tag :taste, "あっさり系" %>
    </div>
    <div class="formGroup">
      <%= check_box_tag :sort, "latest" %>
      <%= label_tag :sort, "新着順" %>
      <%= check_box_tag :sort, "oldest" %>
      <%= label_tag :sort, "古い順" %>
      <%= check_box_tag :sort, "popular" %>
      <%= label_tag :sort, "人気順" %>
    </div>
    <div class="formGroupButton">
      <%= f.submit "検索", class: "btn btn-success custom-button" %>
    </div>
  <% end %>
</div>
